#######################################
## SERVICE CONFIGURATION: POSTGRESQL ##
#######################################

SVC_POSTGRES_LOCAL_PORT=5432
SVC_POSTGRES_USERNAME=postgres
SVC_POSTGRES_PASSWORD=postgres

####################################
## SERVICE CONFIGURATION: PGADMIN ##
####################################

SVC_PGADMIN_DEFAULT_EMAIL=hebele@example.com
SVC_PGADMIN_DEFAULT_PASSWORD=hebele-hubele

#####################################
## SERVICE CONFIGURATION: MOCKSMTP ##
#####################################

SVC_MOCKSMTP_LOCAL_PORT_SMTP=1025

#####################################
## SERVICE CONFIGURATION: KEYCLOAK ##
#####################################

SVC_KEYCLOAK_ADMIN_USERNAME=hebele@example.com
SVC_KEYCLOAK_ADMIN_PASSWORD=hebele-hubele

##################################
## SERVICE CONFIGURATION: CADDY ##
##################################

SVC_CADDY_LOCAL_PORT=80
