dev.local:80 {
	root * /opt/htdocs
	file_server
}

db.dev.local:80 {
	reverse_proxy pgadmin:80
}

smtp.dev.local:80 {
	reverse_proxy mocksmtp:8025
}

auth.dev.local:80 {
	reverse_proxy keycloak:8080
}
